html{height:100%;}

        body{
            background-color: cornsilk;
            margin: 0;
            height:100%;
        }
        h1{
            font-family: 'Goldman', cursive;
                color:white;
                background-color:tomato;
                font-weight: normal;
                padding: 10px;
                border:2px black solid;
                margin: 50px;
            }
            .main_header{
                width:100%;
                padding:20px 20px;
                box-sizing:border-box;
                background-color: darkslategray;
            }

            .main_nav_item{
                display: inline-block;
                margin:0px 16px;
            }

            .main_header > div {
                display: inline-block;
            }
            
            .main_nav{
                display:inline-block;
                text-align:right;
                width:calc(100% - 70px);
            }

            .main_header_logo a{
                font-family: 'Lobster', cursive;
                text-decoration: none;
                font-size: xx-large;
                color:white;
            }

            .main_nav_item a{
                text-decoration: none;
                font-family: 'Goldman', cursive;
                font-size: large;
                color:white;
          }

          .main_nav_item a:hover{
            border-bottom: white solid 2px;
           }

           .main_nav_item_cta a{
            background-color: red;
            padding: 5px;
            border:2px solid white;
            border-radius: 8px;
           }

           .main_nav_item_cta a:hover{
            background-color: white;
            color:red;
           }
               
               
               